.nav-clinicals-img {
    background-image: url("/src/assets/img/cat-8.jpg");
    background-size: cover;
    height: 46rem;
    padding: 2.3rem;
  }

  .btn-clinicals {
    margin: 0!important;
  }

  .nav-clinicals-9-img {
    background-image: url("/src/assets/img/cat-9.jpg")!important;
  }


 /* Tablet: max-width 1024px */

 @media (max-width: 1050px) {

 }


/* Mobile: max-width 639px */

  @media(max-width:638px){
    .nav-clinicals-img{
      height: 23rem;
}

.cat-des-products{
  color: white;
}

.clinical-sec-1 {
  display: block;
    padding: 7rem 1.5rem;
}

.clinical-div-1 {
  width: 100%;
  margin-bottom: 3rem;
}

.clinical-p-1 {
  font-weight: 500;
  font-size: 2.5rem;
}

.clinical-p-2 {
  width: 100%;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

  }



 