.footer-div {
    height: 40rem;
    background-color: rgb(31, 41, 54);
    padding: 2.3rem 4rem;
    position: relative;

}

.footer-ds {
    position: absolute;
    top: 10rem;
    right: 7rem;
    width: 25rem;

}


.footer-ds p{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    text-align: start;
    line-height: 3rem;
}

.footer-p-1 {
    color: rgb(240 219 117);
   
}

.footer-p-2 {
    color: white;
}


.footer-ds button {
    background: rgb(41 52 72) !important;
    margin: 1.5rem 0;
}


.footer-ds button:hover {
    background:rgb(64, 77, 94) !important;
}

.footer-ground {
    display: flex;
    justify-content: space-between;
    margin-top: 34rem;
}


.footer-ground p{
color: rgb(74 95 131);
font-size: 0.75rem;
}




@media (max-width: 1050px) {
    .footer-ds {
        width: 28rem;
    }
}



/* Mobile: max-width 639px */
@media (max-width: 639px) {

    .footer-div {
        padding: 2rem 1.5rem;
      }
    
      .footer-ds {
        top: 7rem ;
        width: 20rem;
        left: 1.5rem;
      }
    
      .footer-ground {
        margin-top: 30rem;
        display: grid ;
        gap: 1rem;
        justify-content: center;
      }
}