.overlay-section {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 100vh;
}

.overlay-section-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgb(31, 41, 54);
  padding: 2.3rem 4rem;
  opacity: 1;
  transform: translateY(-100%);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 999;
}

.overlay-ul {
  margin-right: 5rem;
  width: 50%;
  padding-top: 2rem;
  scrollbar-width: none;
  padding-bottom: 5rem;
}

.overlay-ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.overlay-logo {
  color: #c2c2c2;
}

.overlay.overlay--active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 1100;
}

.div-dsp {
  border-top: 0.5px solid rgb(74, 95, 131);
  padding: 0;
  color: white;
  text-decoration: none;
  padding: 2.5rem 0;
}

.div-dsp:hover {
  background-color: rgb(24, 30, 40);
}

.div-dsp:hover .article-dsp {
  filter: brightness(0.9);
  transform: scale(0.92);
}

.article-dsp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  height: 100%;
}

.p-dsp {
  text-align: start;
  font-weight: 500;
  font-size: 1.5rem;
  color: #f7b843;
}

.ul-dsp {
  width: 15rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* allow wrapping to new line */
  gap: 0.5rem; /* space between items */
  padding: 0;
  margin: 0;
  max-width: 100%; /* Ensure container has limited width */
}

.ul-dsp li {
  white-space: nowrap; /* prevent breaking inside item */
  position: relative;
  color: #fff;
  flex-shrink: 0;
  font-size: 11px;
  font-weight: 600;
}

/* Add a / after each item, except the last */
.ul-dsp li:not(:last-child)::after {
  content: "/";
  margin-left: 0.5rem;
  color: rgb(74, 95, 131);
}

@media (max-width: 800px) {
  .overlay {
    padding: 2.3rem 1.5rem;
  }

  .overlay-section-div {
    display: block;
  }

  .div-dsp:hover {
    background-color: default;
  }

  .overlay-ul {
    margin: 0;
    width: 100%;
  }

  .article-dsp {
    display: block;
  }

  .div-dsp {
    padding: 2rem 0;
  }
}
