.body-section {
  height: 50rem;
  display: flex;
  text-align: start;
}

.section-1 {
  background-color: rgb(248, 248, 242);
  width: 50%;
  padding: 10rem 8rem;
}

.section-1-1 {
  background-color: rgb(227, 226, 202);
  width: 50%;
  background-image: url(/src/assets/img/cat-lady-1.png);
  background-size: cover;
  background-position: center;
  padding: 2.3rem;
}

.section-1-1 p {
  margin: 0px;
}

.section-body-h1 {
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid black;
  padding-bottom: 28px;
}

.section-body-p {
  font-size: 1.4rem;
  font-weight: 500;
}

.section-2 {
  padding: 7rem 4rem;
}

.section-2-2 {
  width: 50%;
  margin-right: 7rem;
}

.section-2-1 {
  background-color: #ffeaca;
  width: 50%;
  background-image: url(/src/assets/img/cat-2.png);
  background-size: cover;
  background-position: center;
  padding: 2.3rem;
  margin-right: 7rem;
  height: 40rem;
  text-align: end;
}

.section-2-1 div {
    margin-top: 33rem;
}

.section-body-h2 {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

.section-body-p-2 {
  margin-block: 0.5rem;
  font-size: 3.6rem;
  line-height: 3.7rem;
  font-weight: 600;
}

.section-div-2 {
  display: flex;
  text-align: start;
}

.section-div-2 article {
  margin-top: 1rem;
  letter-spacing: 1px;
}

.section-div-2 h3 {
  margin: 0;
}

.section-2-ds {
  font-weight: 700;
  margin: 0;
  font-size: 1rem;
}

.article-2-ds {
  width: 50%;
}

.article-2-2-ds {
  margin-left: 4rem;
}

.head-article {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.article-2-ul {
  text-align: start;
  padding: 0;
  list-style: none;
}

.section-div-2 li {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.section-2-2 button{
    margin: 0;
}





.section-3{
    display: block;
    margin: 6rem 0;
}

.section-4-1 {
    background-color: rgb(248, 248, 242);
    width: 90%;
    padding: 2.3rem;
    margin: 5rem auto;
    height: 40rem;
    text-align: end;
  }




  .div-section-3{
    display: flex;
    height: 100%;
  }

  .image-3-div{
    background-image: url(/src/assets/img/cat-3.png);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: -10px -13rem;
    width: 70%;
  }

  .des-3-div {
    width: 30%;
  }